[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pandas = "==1.2.1"
numpy = "*"
pdftotext = "==2.1.5"
sqlalchemy = "==1.4.14"
pymysql = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.8"
